.form{
    @apply flex rounded-md items-center py-3 px-4 mb-8;
}

.form-input{
    @apply py-1 px-1 outline-none w-full;
}

.clear-completed{
    @apply col-end-13 col-span-5  text-right md:col-span-3 cursor-pointer;
}

.checker{
  @apply relative mr-2;
}
.checker span{
    width: 18px;
    height: 18px;
    border-radius:50% ;
    transform: translateY(4px);
    @apply cursor-pointer inline-block absolute left-0 top-0 border border-primary-50;
}
.checker input{
    transition:  all 0.25s ease-in;
   opacity: 0;
}
.checker input:checked+span{
  
    background-image: url('../todo/images/icon-check.svg'),linear-gradient(to right, hsl(192, 100%, 67%),  hsl(280, 87%, 65%));
    background-position: center;
    @apply border-0 bg-no-repeat;
}