.checker{
  position: relative;
  margin-right: 10px;
}
.checker span{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius:50% ;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid hsl(234, 11%, 52%);
    transform: translateY(4px);
    cursor: pointer;
}
.checker input{
    transition:  all 0.25s ease-in;
   opacity: 0;
}
.checker input:checked+span{
  
    background-image: url('../todo/images/icon-check.svg'),linear-gradient(to right, hsl(192, 100%, 67%),  hsl(280, 87%, 65%));
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}