
.TodoList{
    @apply rounded-t-md mt-3 ;
}
.TodoList.light{
    @apply bg-white text-gray-600 ;
}
.TodoList.dark{
    @apply bg-gray-800 text-white;
}
.TodoList li{
    border-bottom: 2px solid  hsla(236.8, 14.3%, 26.1%, 0.44);
    @apply py-4 capitalize cursor-pointer;
}
.flex-center{
    @apply flex items-center;
}

.TodoList li:hover .checked-incomplete{
  border-top:  1px solid hsl(192, 100%, 67%);
  border-left:  1px solid hsl(192, 100%, 67%);
  border-bottom:  1px solid hsl(280, 87%, 65%);
  border-right:  1px solid hsl(280, 87%, 65%);
  filter: blur(0.5px);
}
.TodoList li:hover .delete-icon{
    display: block;
}
.TodoList .delete-icon{
    @apply block md:hidden cursor-pointer hover:block;
}
.checked-complete{
    background-image: url('../todo/images/icon-check.svg'),linear-gradient(to right, hsl(192, 100%, 67%),  hsl(280, 87%, 65%));
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    transition:  all 0.3s ease-in;
}
.checked-complete + h4{
    color: hsl(234, 11%, 52%);
}

.checked-incomplete{
    
    border: 1px solid hsl(234, 11%, 52%);
}

.checking{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius:50% ;
    cursor: pointer;
}
.checking + h4{
    margin-left: 10px;
    position: relative;
    
}

.checking + h4::before{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 0;
    width: 0%;
    height: 0%;
    background-color: hsl(234, 11%, 52%);
    content: '';
    transition: all 0.25s ease-in;
}
.checked-complete + h4::before{
    width: 100% !important;
    height: 5% !important;
}