
.TodoList{
    @apply rounded-t-md mt-3 ;
}
.TodoList.light{
    @apply bg-white text-gray-600 ;
}
.TodoList.dark{
    @apply bg-primary-550 text-primary-350;

}
.TodoList li{
    @apply py-4 capitalize cursor-pointer;
}
.TodoList li:not(:last-child){
    border-bottom: 2px solid  hsla(236.8, 14.3%, 26.1%, 0.44);
    
}
.flex-center{
    @apply flex items-center;
}

.TodoList li:hover .checked-incomplete{
  filter: blur(0.5px);
@apply border-t border-t-primary-650 border-l border-l-primary-650 border-b border-b-primary-700 border-r border-r-primary-700;

}
.TodoList li:hover .delete-icon{
    display: block;
}
.TodoList .delete-icon{
    @apply block md:hidden cursor-pointer hover:block;
}
.checked-complete{
    background-image: url('../todo/images/icon-check.svg'),linear-gradient(to right, hsl(192, 100%, 67%),  hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    transition:  all 0.3s ease-in;
    @apply bg-no-repeat border-0 bg-center;
}
.checked-complete + h4{
    @apply border-primary-50 text-primary-450;
}

.checked-incomplete{
@apply border-primary-50 border;
}

.checking{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius:50% ;
    cursor: pointer;
}
.checking + h4{
    margin-left: 10px;
    position: relative;
    
}

.checking + h4::before{
    @apply absolute top-2/4 left-0 w-0 h-0 bg-primary-50;
    transform: translateY(-50%);
    content: '';
    transition: all 0.25s ease-in;
}
.checked-complete + h4::before{
    width: 100% !important;
    height: 0.8px !important;
}