.contains{
  background-color: rgb(0, 0, 0);
  height: 100vh;
  background-image: url('./component/todo/images/bg-desktop-dark.jpg');
  background-position: top;
  background-repeat: no-repeat;
 background-size: 100% 32%;
}

.active{
  color: hsl(220, 98%, 61%);
}